{
  "root": true,
  // ONLY IN BOOKING "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jquery": true
  },
  "globals": {
    "$": true,
    "app_shop": true,
    "Blazy": true, // powszechnie używana biblioteka do lazy load img
    "payform": true,
    "Alertek": true,
    "orderdetails_payments": true,
    "Vue": true,
  },
  "extends": [
    "airbnb-base"
  ],
  "rules": {

    /* ~=~=~=~=~=~=~=~=~=~=~=~=~=~= ZAAKCEPTOWANE ~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~= */
    "linebreak-style": 0,
    "prefer-arrow-callback": 0, // TODO - write rule only for app_shop functions
    // ! "eslint(indent)" -> rozwiązaniem jest zmiana konfiguracji IDE


    /* ~=~=~=~=~=~=~=~=~=~=~=~=~=~= PROPOZYCJE ~=~=~=~=~=~=~=~=~=~=~=~=~=~=~=~= */
    // ? no-plusplus
    // ? http://dg.iai-shop.com/design-componentsettings.php?component=77752&design=4545 
    // ? krótkie uzasadnienie: naprawdę często używam pętli, proponuję dodać wyjątek
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ]
  }
}
